@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9911 0 0);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(0.9911 0 0);
  --card-foreground: oklch(0.2046 0 0);
  --popover: oklch(0.9911 0 0);
  --popover-foreground: oklch(0.4386 0 0);
  --primary: oklch(0.8348 0.1302 160.908);
  --primary-foreground: oklch(0.2626 0.0147 166.4589);
  --secondary: oklch(0.994 0 0);
  --secondary-foreground: oklch(0.2046 0 0);
  --muted: oklch(0.9461 0 0);
  --muted-foreground: oklch(0.2435 0 0);
  --accent: oklch(0.9461 0 0);
  --accent-foreground: oklch(0.2435 0 0);
  --destructive: oklch(0.5523 0.1927 32.7272);
  --destructive-foreground: oklch(0.9934 0.0032 17.2118);
  --border: oklch(0.9037 0 0);
  --input: oklch(0.9731 0 0);
  --ring: oklch(0.8348 0.1302 160.908);
  --chart-1: oklch(0.8348 0.1302 160.908);
  --chart-2: oklch(0.6231 0.188 259.8145);
  --chart-3: oklch(0.6056 0.2189 292.7172);
  --chart-4: oklch(0.7686 0.1647 70.0804);
  --chart-5: oklch(0.6959 0.1491 162.4796);
  --sidebar: oklch(0.9911 0 0);
  --sidebar-foreground: oklch(0.5452 0 0);
  --sidebar-primary: oklch(0.8348 0.1302 160.908);
  --sidebar-primary-foreground: oklch(0.2626 0.0147 166.4589);
  --sidebar-accent: oklch(0.9461 0 0);
  --sidebar-accent-foreground: oklch(0.2435 0 0);
  --sidebar-border: oklch(0.9037 0 0);
  --sidebar-ring: oklch(0.8348 0.1302 160.908);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
  --tracking-normal: 0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1822 0 0);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2046 0 0);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2603 0 0);
  --popover-foreground: oklch(0.7348 0 0);
  --primary: oklch(0.4365 0.1044 156.7556);
  --primary-foreground: oklch(0.9213 0.0135 167.1556);
  --secondary: oklch(0.2603 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2393 0 0);
  --muted-foreground: oklch(0.7122 0 0);
  --accent: oklch(0.3132 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3123 0.0852 29.7877);
  --destructive-foreground: oklch(0.9368 0.0045 34.3092);
  --border: oklch(0.2809 0 0);
  --input: oklch(0.2603 0 0);
  --ring: oklch(0.8003 0.1821 151.711);
  --chart-1: oklch(0.8003 0.1821 151.711);
  --chart-2: oklch(0.7137 0.1434 254.624);
  --chart-3: oklch(0.709 0.1592 293.5412);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7845 0.1325 181.912);
  --sidebar: oklch(0.1822 0 0);
  --sidebar-foreground: oklch(0.6301 0 0);
  --sidebar-primary: oklch(0.4365 0.1044 156.7556);
  --sidebar-primary-foreground: oklch(0.9213 0.0135 167.1556);
  --sidebar-accent: oklch(0.3132 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2809 0 0);
  --sidebar-ring: oklch(0.8003 0.1821 151.711);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.17;
  --shadow-color: #000000;
  --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
  --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 1px 2px -1px hsl(0 0% 0% / 0.17);
  --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 2px 4px -1px hsl(0 0% 0% / 0.17);
  --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 4px 6px -1px hsl(0 0% 0% / 0.17);
  --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17),
    0px 8px 10px -1px hsl(0 0% 0% / 0.17);
  --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .container {
    @apply mx-auto max-w-screen-2xl px-4 md:px-6 lg:px-8;
  }
  .yellow-btn {
    @apply h-12 cursor-pointer bg-gradient-to-b from-green-400 to-primary hover:from-primary hover:to-green-400 text-gray-950 font-medium text-base rounded-lg shadow-lg disabled:opacity-50;
  }
  .home-wrapper {
    @apply text-gray-400 flex-col gap-4 md:gap-10 items-center sm:items-start;
  }
  .home-section {
    @apply w-full gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3;
  }
  .header {
    @apply z-50 w-full h-[70px] bg-gray-800;
  }
  .header-wrapper {
    @apply flex justify-between items-center px-6 py-4 text-gray-500;
  }
  .auth-layout {
    @apply flex flex-col justify-between lg:flex-row h-screen bg-gray-900 relative overflow-hidden;
  }
  .auth-logo {
    @apply pt-6 lg:pt-8 mb-8 lg:mb-12;
  }
  .auth-left-section {
    @apply w-full lg:w-[45%] lg:h-screen px-6 lg:px-16 flex flex-col overflow-y-auto;
  }
  .auth-right-section {
    @apply w-full max-lg:border-t max-lg:border-gray-600 lg:w-[55%] lg:h-screen bg-gray-800 px-6 py-4 md:p-6 lg:py-12 lg:px-18 flex flex-col justify-start;
  }
  .auth-blockquote {
    @apply text-sm md:text-xl lg:text-2xl font-medium text-gray-400 mb-1 md:mb-6 lg:mb-8;
  }
  .auth-testimonial-author {
    @apply text-xs md:text-lg font-bold text-gray-400 not-italic;
  }
  .auth-dashboard-preview {
    @apply border-6 border-gray-800 left-0 hidden w-[1024px] h-auto max-w-none lg:block rounded-xl shadow-2xl;
  }
  .form-title {
    @apply text-4xl font-bold text-gray-400 mb-10;
  }
  .form-label {
    @apply text-sm font-medium text-gray-400;
  }
  .form-input {
    @apply h-12 px-3 py-3 text-white text-base placeholder:text-gray-500 border-gray-600 bg-gray-800 rounded-lg focus:!border-primary focus:ring-0;
  }
  .select-trigger {
    @apply w-full !h-12 px-3 py-3 text-base border-gray-600 bg-gray-800 text-white rounded-lg focus:!border-primary focus:ring-0;
  }
  .country-select-trigger {
    @apply h-12 px-3 py-3 text-base w-full justify-between font-normal border-gray-600 bg-gray-800 text-gray-400 rounded-lg focus:!border-primary focus:ring-0;
  }
  .country-select-input {
    @apply !bg-gray-800 text-gray-400 border-0 border-b border-gray-600 rounded-none focus:ring-0 placeholder:text-gray-500;
  }
  .country-select-empty {
    @apply text-gray-500 py-6 text-center !bg-gray-800;
  }
  .country-select-item {
    @apply text-white cursor-pointer px-3 py-2 rounded-sm bg-gray-800 hover:!bg-gray-600;
  }
  .footer-link {
    @apply text-gray-400 font-medium hover:text-green-400 hover:underline transition-colors;
  }
  .search-text {
    @apply cursor-pointer hover:text-primary;
  }
  .search-btn {
    @apply cursor-pointer px-4 py-2 w-fit flex items-center gap-2 text-sm md:text-base bg-primary hover:bg-primary text-black font-medium rounded;
  }
  .search-dialog {
    @apply !bg-gray-800 lg:min-w-[800px] border-gray-600 fixed top-10 left-1/2 -translate-x-1/2 translate-y-10;
  }
  .search-field {
    @apply !bg-gray-800 border-b border-gray-600 relative;
  }
  .search-list {
    @apply !bg-gray-800 max-h-[400px];
  }
  .search-list-indicator {
    @apply px-5 py-2;
  }
  .search-list-empty {
    @apply py-6 !bg-transparent text-center text-gray-500;
  }
  .search-input {
    @apply !bg-gray-800 border-0 text-gray-400 placeholder:text-gray-500 focus:ring-0 text-base h-14 pr-10;
  }
  .search-loader {
    @apply absolute right-12 top-1/2 -translate-y-1/2 h-4 w-4 text-gray-500 animate-spin;
  }
  .search-count {
    @apply py-2 px-4 text-sm font-medium text-gray-400 bg-gray-700 border-b border-gray-700;
  }
  .search-item {
    @apply rounded-none my-3 px-1 w-full data-[selected=true]:bg-gray-600;
  }
  .search-item-link {
    @apply px-2 w-full cursor-pointer border-b border-gray-600 last:border-b-0 transition-colors flex items-center gap-3;
  }
  .search-item-name {
    @apply font-medium text-base text-gray-400;
  }
  .nav-list {
    @apply flex flex-col sm:flex-row p-2 gap-3 sm:gap-10 font-medium;
  }
  .stock-details-container {
    @apply w-full grid-cols-1 gap-6 xl:grid-cols-3 space-y-6 sm:space-y-8;
  }
  .watchlist-btn {
    @apply bg-primary text-base hover:bg-primary text-gray-900 w-full rounded h-11 font-semibold cursor-pointer;
  }
  .watchlist-remove {
    @apply bg-red-500! hover:bg-red-500! text-gray-900!;
  }
  .watchlist-empty-container {
    @apply container gap-8 flex-col items-center md:mt-10 p-6 text-center;
  }
  .watchlist-empty {
    @apply flex flex-col items-center justify-center text-center;
  }
  .watchlist-star {
    @apply h-16 w-16 text-gray-500 mb-4;
  }
  .empty-title {
    @apply text-xl font-semibold text-gray-400 mb-2;
  }
  .empty-description {
    @apply text-gray-500 mb-6 max-w-md;
  }
  .watchlist-container {
    @apply flex flex-col-reverse lg:grid lg:grid-cols-3 gap-8;
  }
  .watchlist {
    @apply lg:col-span-2 space-y-8;
  }
  .watchlist-alerts {
    @apply items-start gap-6 h-full flex-col w-full lg:col-span-1;
  }
  .watchlist-icon-btn {
    @apply w-fit cursor-pointer hover:bg-transparent! text-gray-400 hover:text-primary;
  }
  .watchlist-icon-added {
    @apply !text-primary hover:!text-green-600;
  }
  .watchlist-icon {
    @apply w-8 h-8 rounded-full flex items-center justify-center bg-gray-700/50;
  }
  .trash-icon {
    @apply h-4 w-4 text-gray-400 hover:text-red-400;
  }
  .star-icon {
    @apply h-4 w-4;
  }
  .watchlist-title {
    @apply text-xl md:text-2xl font-bold text-gray-100;
  }
  .watchlist-table {
    @apply !relative overflow-hidden !w-full bg-gray-800 border !border-gray-600 !rounded-lg;
  }
  .table-header-row {
    @apply text-gray-400 font-medium bg-gray-700 border-b border-gray-600 hover:bg-gray-700;
  }
  .table-header:first-child {
    @apply pl-4;
  }
  .table-row {
    @apply border-b cursor-pointer text-gray-100 border-gray-600 hover:bg-gray-700/50 transition-colors;
  }
  .table-cell {
    @apply font-medium text-base;
  }
  .add-alert {
    @apply flex text-sm items-center whitespace-nowrap gap-1.5 px-3 w-fit py-2 text-green-600 border border-green-600/20 rounded font-medium bg-transparent hover:bg-transparent cursor-pointer transition-colors;
  }
  .watchlist-news {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4;
  }
  .news-item {
    @apply bg-gray-800 rounded-lg border w-full border-gray-600  p-4 duration-200 hover:border-gray-600 cursor-pointer;
  }
  .news-tag {
    @apply inline-block w-fit px-2 py-1 mb-5 rounded bg-gray-600/60 text-green-500 text-sm font-mono font-medium;
  }
  .news-title {
    @apply text-lg  font-semibold text-gray-100 leading-tight mb-3 line-clamp-2;
  }
  .news-meta {
    @apply flex items-center text-sm text-gray-500 mb-1;
  }
  .news-summary {
    @apply text-gray-400 flex-1 text-base leading-relaxed mb-3 line-clamp-3;
  }
  .news-cta {
    @apply text-sm align-bottom text-primary hover:text-gray-400;
  }
  .alert-dialog {
    @apply bg-gray-800 border-gray-600 text-gray-400 max-w-md;
  }
  .alert-title {
    @apply text-xl font-semibold text-gray-100;
  }
  .alert-list {
    @apply overflow-y-auto w-full max-h-[911px] rounded-lg flex border border-gray-600 flex-col gap-4 bg-gray-800 p-3 flex-1;
  }
  .alert-empty {
    @apply px-6 py-8 text-center text-gray-500/50;
  }
  .alert-item {
    @apply p-4 rounded-lg bg-gray-700 border border-gray-600;
  }
  .alert-name {
    @apply mb-2 text-lg text-primary font-semibold;
  }
  .alert-details {
    @apply flex border-b pb-3 items-center justify-between gap-3 mb-2;
  }
  .alert-company {
    @apply text-gray-400 text-base;
  }
  .alert-price {
    @apply text-gray-100 font-bold;
  }
  .alert-actions {
    @apply flex items-end justify-between;
  }
  .alert-update-btn {
    @apply text-gray-400 rounded-full bg-transparent hover:bg-green-500/15 cursor-pointer;
  }
  .alert-delete-btn {
    @apply text-gray-400 rounded-full hover:bg-red-600/15 bg-transparent cursor-pointer transition-colors;
  }
}
